<%= turbo_frame_tag dom_id(comment) do %>
  <div class="card-issue card-issue--call-to-action-comment mt-4">
    <div class="flex justify-between items-center">
      <p class="font-bold"><i class="fa-solid fa-user mr-4"></i><%= comment.user.username %></p>
      <p class="ml-4 italic"> <%= comment.created_at.strftime("%d %B, %Y at %I:%M %p") %></p>
    </div>
    <%= comment.content.html_safe %>
  </div>
<% end %>
