.card-issue {
  border: 2px solid $snow;
  border-radius: $border-radius;
  margin-bottom: 2rem;
  padding: 16px;
  color: $snow;

  &--open-source {
    background-color: $amethyst;
  }

  &--call-to-action {
    background-color: $dark-pink;
  }

  &--call-to-action-comment {
    background-color: $snow;
    color: $dark-pink;
  }

  blockquote {
    border: 0 solid #ccc;
    border-left-width: 0px;
    border-left-width: 0.3em;
    margin-left: 0.3em;
    padding-left: 0.6em;
  }

  pre {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    font-family: monospace;
    font-size: 1em;
    padding: 0.5em;
    white-space: pre;
    background-color: #eee;
    overflow-x: auto;
  }
}
