#navbar {
  justify-content: space-between;
  background: $dark;
  height: 100px;
  color: white;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    height: 70px
  }

  a.btn {
    color: white;
  }
}
