// Config
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// Libraries
@import "bootstrap";
@import "font-awesome";


// Components
@import "components/alert";
@import "components/avatar";
@import "components/banner";
@import "components/buttons";
@import "components/card_issue";
@import "components/navbar";

// pages
@import "pages/issues";
@import "pages/dashboard";

body {
  background-color: $dark;
  color: $snow;
}

h1 {
  font-family: $headers-font;
  font-weight: 200;
  font-size: 4rem;
}

p {
  font-family: $headers-font;
  font-weight: 300;
  font-size: 1rem;
}

h2, h3, h4 {
  font-family: $sub-headers-font;
  font-weight: 400;
}

.text-italic {
  font-style: italic;
}

.text-purple {
  color: $purple;
}

.text-amethyst {
  color: $amethyst;
}

.text-pink {
  color: $pink;
}

.text-neutral {
  color: $neutral;
}

.text-error {
  color: $error;
}

.text-snow {
  color: $snow;
}

.text-silver {
  color: $silver;
}

// This is meant to change the backgroud of the tooltips but i am not sure if
// We are using regular js or jquery, spending to much timeon this little detail
.tooltip {
  background-color: $pink; /* Replace with your desired background color */
  color: #ffffff; /* Optionally, you can also customize the text color */
}
